{% render 'pagefly-settings' %} <link rel="stylesheet" href="{{ 'pagefly.66bf3c65.css' | asset_url }}">
		  <style></style><div style="opacity:0" class="sc-giYglK hHzYuJ __pf __pf_DXbkMXdV" id="__pf"><div data-pf-type="Body" class="sc-dVNjXY gaVfQc pf-1_"><div data-pf-type="Layout" class="sc-kYHfwS HhpUT pf-2_"><div data-section-id="pf-0eb2" data-category="Page Introduction" data-name="Cottage" data-pf-type="Section" class="sc-eFegNN kRTGhu pf-12_ pf-bg-lazy"><div style="--cw:1170px" class="sc-jWUzzU jXgGHC"><div class="sc-iJKOTD qriss pf-11_ pf-r pf-r-eh" style="--s-xs:15px" data-pf-type="Row"><div class="pf-c" style="--c-xs:12;--c-md:12;--c-lg:12"><div data-pf-type="Column" class="sc-jHkVzv dZEEUA pf-10_"><h2 data-pf-type="Heading" class="sc-iAKWXU kOzfyS pf-5_"><span data-pf-type="Text" class="sc-kTLmzF bGBrSp pf-4_">Buy 01 get 01 FREE</span></h2><div data-pf-type="Block" class="sc-xiLah hBpxAH pf-9_"><a href="https://pagefly.io/pages/preview?template=ruby" target="_blank" data-pf-type="Button" class="sc-kDTinF jnvufR pf-8_"><span data-pf-type="Text" class="sc-kTLmzF bGBrSp pf-7_">grab your sales</span></a></div></div></div></div></div></div></div></div></div><script>
    !function(){window.__pagefly_setting__&&(window.__pagefly_setting2__=window.__pagefly_setting__),window.__pagefly_setting__={"baseURL":"https://apps.pagefly.io","analyticsURL":"https://analytics.pagefly.io","isBackend":false,"cdnURL":"https://cdn.pagefly.io","pageflyVersion":"3.25.10","shopDomain":"wise-gorilla.myshopify.com","elementData":{},"pageTitle":"Untitled1","pageType":"home","pageId":"66bf3c65-8c38-472e-8fa1-556810e46d0c","lazyLoad":true,"forceByPassGoogleLightHouse":false,"imageLazyLoad":true,"useThemeJQ":false,"selectedFonts":{"Raleway":{"400":1,"900":0}},"trackingIDs":[],"shopifyProxyPath":"/a/pf_preview"},window.__pagefly_setting2__&&(window.__pagefly_setting__=function _(d,b){let c={...d||{}};for(let a of Object.keys(b))b[a]instanceof Object&&(Array.isArray(b[a])&&c[a]?Object.assign(b[a],[...b[a],...c[a]]):Object.assign(b[a],_(c[a],b[a])));return Object.assign(c||{},b),c}(__pagefly_setting2__,__pagefly_setting__),delete window.__pagefly_setting2__),window.__pagefly_setting__.moneyFormat={{shop.money_format|json}}}();
    </script><script src="https://cdn.pagefly.io/pagefly/3.25.10/core/helper.js" async></script>
{% schema %}
{
  "name": "PageFly Home Page",
  "settings": [
    {
      "type": "paragraph",
      "content": "For full configuration, [visit PageFly Editor](https://apps.pagefly.io/editor?id=66bf3c65-8c38-472e-8fa1-556810e46d0c)."
    }
  ]
}
{% endschema %}